@tailwind "base";
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

@font-face {
  font-family: "retrocompute";
  src: url("assets/font/retrocompute.ttf");
}

body {
  font-family: retrocompute, sans-serif;
}
